spring:
  redis:
    host: localhost
    port: 6379


  jwt:
    secret: qcuhOKrfVUQCSdkyrGsYrtlIYfu/g9L7qNwglLxpdio=

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mini4
    username: mini4
    password: 1234

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    path: /api-docs
    enabled: true
    groups-order: asc
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  cache :
    disabled : true
  model-and-view-allowed: true

logging:
  level:
    root: INFO
